{% extends 'base.html.twig' %}




{% block title %}Connexion{% endblock %}



{% block body %}

    {{ include('header.html.twig') }}
<div class="container-fluid">
    <div class="cadreC">
        <form method="post" class="formulaire">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}


            <h1>Veuillez renseigner <br>les champs :</h1>

            <div class="input">
                <label for="inputIden_ges" class="mb-1">Identifiant :</label>
                <input type="text" value="{{ last_username }}" name="iden_ges" id="inputIden_ges" class="form-control" autocomplete="username" required autofocus>
            </div>
            <div class="input">
                <label for="inputPassword" class="mb-1">Mot de passe :</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-1">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>


            <button class="btn bouton" type="submit">
                Connexion
            </button>
        </form>
    </div>
</div>

{% endblock %}
