
/*

##### Hero_Banner Style ####

 */
.container-fluid{

    max-height: 100%;
  padding: unset;

}

.hero_banner{
    display: flex;
    width: 100%;
    height: 115px;
    background-color: #E8E2E2;
}

.banner{
    justify-content: space-around;
    align-items: center;
}

.btn{
    background-color: #0171B9;
    border-radius: 15px;
    font-size: 15px;
    color: white;
}

.mt-1{
    font-size: 15px;
}

/*

#### Photo and logo Style ####

 */
img{
    padding: 5px;
    width: 90px;
}

.fa-home{
   margin-right: 7px;
}



