{% extends "base.html.twig" %}

{% block title %}
    Accès refusé !
{% endblock %}

{% block body %}

    {{ include('./header.html.twig') }}

    <h1 class="text-center mt-3">Accès refusé</h1>

    <h2 class="text-center">Erreur 4<img class="logoM" style="width: 60px" src="{{ asset("/pictures/logoAmiensM.png") }}" alt="logoAmiensMetropole">3 !</h2>

    <p class="text-center">Désolée mais vos droits ne vou permettent pas de réaliser cette action... veuillez cliquer sur le lien afin d'être redirigé vers la page index !
    <br> lien page index === > <a href="{{ path('utilisateurs_index') }}">Retour Index</a></p>

{% endblock %}